<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Height and Age Correlations</title>
  </head>
  <body>
    <center>
      <img src="{{ href }}" height="600" />
      <form action="" method="POST">
        <label>Input a comma separated list of age values: </label>
        <input name="text" />
        <input type="submit" />
      </form>
    </center>
  </body>
</html>
